*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

#commandPanel{
	position: absolute;
	left: 75%;
	width: 25%;
	height: 100%;
	background-color: gray;
}

.section .title, .actnBtn, .stitle, .object{
	width: 100%;
	padding: 10px 15px;
	background-color: white;
	border-bottom: 2px solid #e8e8e8;
	cursor: pointer;
}

.actnBtn, .object{
	background-color: #ffffff;
	padding: 5px 0 5px 10%;
}

.sContent{
	display: none;
	padding: 10px;
}

.stitle{
	padding: 5px 0 5px 5%;
	background-color: #ededed;
}
.stitle::before{
	content: "» ";
};